
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminIT/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/AdminIT/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>
                    <h2 class="panel-title">Chọn sản phẩm tranning</h2>
                    @*<div style="float: right; margin-right: 40px; margin-top: -27px;">
                        <a class="btn btn-success" href="/AdminIT/LoadComment/Create"> <span><i class="fa fa-plus"></i></span> Thêm bình luận mới</a>
                    </div>*@
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="inputPlaceholder">Chọn sản phẩm</label>
                        <div class="col-md-6">
                            @Html.DropDownList("GroupComentId", (SelectList)ViewBag.GroupComent, "Chọn sản phẩm", new { @class = "form-control", id = "GroupComentId" })
                        </div>
                        <div class="col-md-4">
                            <button id="tranningPro" type="submit" class="mb-xs mt-xs mr-xs btn btn-success"><i class="fa fa-book"></i> Thực hiện tranning </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div id="listComment">
        <div class="clearfix"></div>
        <div id="loadImage" class="hide text-center">
            <img src="~/Content/images/loadingFlightDetails.gif" width="180" />
            <span style="font-style:italic">Đang thực hiên tranning...</span>
        </div>
        @*@Html.Partial("_ListComment")*@
    </div>
    @*<section class="panel hide" id="divResuft">
        <div class="panel-body">
            <label>Sản phẩm này chưa có bình luận, bạn có muốn thêm bình luận cho sản phẩm này!</label>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button onclick="form.action ='/AdminIT/LoadComment/Create/@ViewBag.Id'" class="mb-xs mt-xs mr-xs btn btn-success"><i class="fa fa-plus"></i> Thêm bình luận cho sản phẩm</button>
                </div>
            </div>
        </div>
    </section>*@
</div>



