

<header class="panel-heading">
    <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
    </div>
    <h2 class="panel-title">Kết quả thực hiện:</h2>
</header>
<div class="panel-body">

    <p> @ViewBag.Resulft </p>

</div>

